@import "variables.scss";
@import "media.scss";

html {
	font-size: $mainSize;
}
body {
	min-width: 32rem;
}
p {
	font: {
		family: 'LatoRegular', Arial, Helvetica, sans-serif;
		size: 3.3vmax;
		weight: 400;
	}
	line-height: 4.5vmax;
}
h2 {
	font: {
		family: 'LatoRegular', Arial, Helvetica, sans-serif;
		size: 2.8rem;
		weight: 400;
	}
	line-height: 3.2rem;
	margin-bottom: 1.4rem;
	margin-top: 0;
}
.btn {
	color: $white;
	cursor: pointer;
	text-decoration: none;
	background-color: $seaGreen;
	text-transform: uppercase;
	display: inline-block;
	position: relative;
	line-height: 1.7rem;
	padding: 1.3rem;
	margin-bottom: 5.2rem;
	border-radius: 0;
	font: {
		family: 'LatoBold', Arial, Helvetica, sans-serif;
		size: 1.3rem;
		weight: 700;
	}
	&:hover {
		color:  $white;
	}
}
.container {
	padding-left: 4rem;
	padding-right: 4rem;
	margin: 0;
	width: 100%;
}
.clear-both {
	clear: both;
}

//START HEADER
.header {
	padding: 2.6rem 0 2.2rem;
	position: relative;
	.logo {
		background: $bgImg no-repeat -.5rem -38.5rem;
		height: 4.7rem;
		position: relative;
		width: 20.6rem;
		a {
			display: block;
			height: 100%;
			overflow: hidden;
			text-indent: -999rem;
			width: 100%;
		}
	}
	.navbar {
		border-radius: 0;
		margin-bottom: 0;
		margin-top: 2rem;
		min-height: 0;
	}
	.navbar-fixed-top {
		position: absolute;
		top: -10rem;
		&.navbar-absolute {
			background: none;
			border: none;
			.navbar-header {
				float: none;
				.navbar-toggle {
					background-color: rgba(68,68,68,.61);
					margin-top: 2.6rem;
					margin-right: -.8rem
				}
				.navbar-collapse {
					margin-top: 9rem;
					background-color: $white;
					text-align: center;
					.navbar-nav {
						li {
							cursor: pointer;
							display: block;
							margin-left: 3rem;
							margin-right: 3rem;
							text-transform: uppercase;
							font: {
								family: 'LatoRegular', Arial, Helvetica, sans-serif;
								size: 1.4rem;
								weight: 400;
							};
							line-height: 1.8rem;
							&:first-child {
								margin-top: 1rem;
								margin-bottom: 1rem;
							}
							a, span {
								color: $darkGray;
								padding: 1.2rem;
								text-decoration: none;
								line-height: 1.8rem;
								&:hover, &:active, &:focus {
									background-color: $seaGreen;
									color: $white;
								}
							}
							span {
								display: block;
							}
							.active {
								background-color: $seaGreen;
								color: $white;
								
							}
						}
					}
				}
			}
		}
	}
}
.main {
	position: relative;
	.banner {
		height: 54.6rem;
		position: relative;
		.table-box {
			display: table;
			height: 100%;
			text-align: center;
			width: 100%;
			.cell-box {
				color: $white;
				display: table-cell;
				padding: 2.2rem 0 8rem;
				position: relative;
				.banner-info {
					width: 47%;
					margin:0 auto;
					.slogan {
						font-size: 7.5vmax;
						line-height: 7.5vmax;
						margin-bottom: 1rem;
						strong {
								font: {
								family: 'LatoBold', Arial, Helvetica, sans-serif;
								weight: 700;
							}
						}
					}
					p {
						font-size: 1.8rem;
						line-height: 2.6rem;
						margin-bottom: 1.7rem;
					}
					.slogan, p {
						font: {
							family: 'LatoLight', Arial, Helvetica, sans-serif;
							weight: 300;
						}
						color: $white;
					}
					.btn {
						margin-bottom: 1.2rem;
					}
					.anchor {
						a {
							text-decoration: none;
							color: $white;
							font-size: 5rem;
						}
					}
				}
			}
		}
		.wrapper {
			height: 100%;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
		}
	}
	.portfolio {
		padding: 5.2rem 0 6rem;
		text-align: center;
		p {
			margin-bottom: 3.3rem;
		}
		.filters {
			li {
				display: block;
				margin-left: 1.5rem;
				.btn {
					margin-bottom: 1.2rem;
				}
				&:first-child {
					margin-left: 0;
				}
			}
			.active span {
				background-color: $darkSeaGreen !important;
				&:hover {
					color: $white;
					cursor: default;
				}
			}
		}
		.icons {
			position: relative;
			margin: 0 auto;
			max-width: 120rem;
			li {
				display: inline-block;
				margin-left: 4rem;
				margin-right: 4rem;
				margin-bottom: 3.4rem;
				height: 18rem;
				position: relative;
				overflow: hidden;
				.cover {
					display: none;
					position: absolute;
					background-color: rgba(22, 160, 134, 0.75);
					top: 0;
					left: 0;
					height: 100%;
					width: 100%;
					border-radius: 50%;
					a {
						text-decoration: none;
						color: $white;
						cursor: pointer;
						position: relative;
						font: {
								family: 'LatoRegular', Arial, Helvetica, sans-serif;
								weight: 400;
							}
						h3{
							size: 1.8rem;
							line-height: 2.2rem;
							margin-bottom: .7rem;
							margin-top: 0;
						}
						p {
							size: 1.4rem;
							line-height: 1.8rem;
							margin-bottom: .5rem;
						}
						.fa-search {
							font-size: 2.1rem;
							padding-top: 1.2rem;
							padding-left: 0.2rem;
							margin-bottom: 1.4rem;
							margin-top: 3rem;
							height: 4.5rem;
							width: 4.3rem;
							border-radius: 50%;
							background-color: rgba(68,68,68, 0.61);
						}
					}
				}
				&:hover .cover {
					display: block;
				}
			}
			.photo {
				width: 17rem;
				background:  $bgImg no-repeat -.5rem -.5rem;
			}
			.sound {
				width: 17.7rem;
				background:  $bgImg no-repeat -18.5rem -.5rem;
			}
			.cogwheel {
				width: 17.9rem;
				background:  $bgImg no-repeat -.5rem -19.5rem;
			}
			.safari {
				width: 17.8rem;
				background:  $bgImg no-repeat -19.4rem -19.5rem;
			}
			.call {
				width: 17rem;
				background:  $bgImg no-repeat -37.2rem -.5rem;
			}
			.bubbles {
				width: 17.6rem;
				background:  $bgImg no-repeat -38.2rem -19.5rem;
			}
		}
	}
	.portfolio, .contacts {
		position: relative;
		color: $darkGray;
	}
	.our-us {
		position: relative;
		background-color: $darkSeaGreen;
		padding: 5.4rem 0 5.4rem;
		color: $darkGray;
		.heading {
			color: $white;
			text-align: center;
		}
		p {
			margin-bottom: 4.2rem;
		}
		.co-workers {
			font: {
				size: 1.4rem;
				family: 'LatoRegular', Arial, Helvetica, sans-serif;
			}
			line-height: 1.8rem;
			text-align: center;
			li {
				display: inline-block;
				width: 22rem;
				background-color: $white;
				margin-left: 3rem;
				margin-right: 3rem;
				margin-bottom: 2rem;
				.avatar {
					height: 22.8rem;
					position: relative;
					margin-bottom: 1.7rem;
					img {
						height:100%;
					}
					.social {
						position: absolute;
						display: none;
						background-color: rgba(51, 157, 135, .8);
						left: 50%;
						top: 50%;
						color: $white;
						padding: .9rem 0.5rem;
						font-size: 2.9rem;
						width: 80%;
						transform: translate(-50%, -50%);
						a {
							color: $white;
						}
						.fa {
							display: inline-block;
							margin: 0 .6rem;
						}
					}
					&:hover .social {
						display: block;
					}
				}
				h3 {
					margin-top: 0;
					margin-bottom: .7rem;
					font-size: 5vmax;
					line-height: 5.5vmax;
				}
				strong {
					font-family: 'LatoItalic', Arial, Helvetica, sans-serif;
					font-weight: 400;
					margin-bottom: 1.7rem;
					font-size: 3vmax;
					line-height: 4vmax;
				}
				p {
					margin-bottom: .7rem;
					padding-left: 1rem;
					padding-right: 1rem;
					text-align: left;
				}
			}
		}
	}
	.contacts {
		background-color: $gray;
		padding: 4.8rem 0 4.9rem;
		overflow: hidden;
		form {
			color: $smoky;
			overflow: hidden;
			font: {
				size: 3.5vmax;
				family: 'LatoItalic', Arial, Helvetica, sans-serif;
			}
			line-height: 4vmax;
			position: relative;
			.left, .right {
				width: 100%;
				margin-bottom: 2.1rem;
			}
			.left {
				margin-right: 1rem;
				float: left;
			}
			.right {
				margin-left: 1rem;
				float: right;
			}
			.holder {
				input, textarea {
					box-sizing: border-box;
					padding: 1.2rem 1.7rem;
					border: .2rem solid $darkSmoky;
					width: 100%;
				}
				textarea {
					margin-bottom: 2.3rem;
				}
			}
			button[type=submit].btn {
				min-width: 11.4rem;
				float: left;
				box-sizing: border-box;
				margin-bottom: 4rem;
			}
		}
		.heading {
			text-align: center;
			p {
				margin-bottom: 5rem;
			}
		}
		.contact-holder {
			h3 {
				margin-top: 0;
				margin-bottom: 2rem;
				text-transform: uppercase;
				font: {
					family: 'LatoRegular', Arial, Helvetica, sans-serif;
					size: 3.5vmax;
					weight: 400;
				}
				color: $darkGray;
				line-height: 4vmax;
			}
			.address-list {
				font: {
					family: 'LatoRegular', Arial, Helvetica, sans-serif;
					size: 3vmax;
					weight: 400;
				}
				line-height: 4.3vmax;
				color: $darkGray;
				width: 25rem;
				li {
					margin-bottom: 1.2rem;
					position: relative;
					padding-left: .6rem;
					.fa {
						position: absolute;
						left: -1.2rem;
						top: .3rem;
					}
				}
			}
		}
	}
}
.footer {
	background-color: $darkBlue;
	color: $white;
	padding: 2.3rem 0 2rem;
	.anchor {
		background-color: $seaGreen;
		padding: 1.5rem 1.3rem;
		position: relative;
		float: left;
		display: block;
		font-size: 2rem;
		color: $white;
	}
	ul {
		font: {
			family: 'LatoRegular', Arial, Helvetica, sans-serif;
			size: 1.4rem;
			weight: 400;
		}
		line-height: 1.8rem;
		float: left;
		margin-top: 1.5rem;
		li {
			display: inline-block;
			margin-left: 0;
			padding-left: .9rem;
			position: relative;
			&:first-child:after {
				display: none;
			}
			&:first-child {
				margin-left: 0;
			}
		}
	}
}