@import "variables.scss";

@media (min-width: 768px) {
	.header .navbar {
		margin-top: 4.2rem;
	}
	.header .navbar-fixed-top.navbar-absolute .navbar-header {
		float: right;
		text-align: right;
	 	.navbar-collapse {
			margin-top: 0;
			background: none;
		}
	}
}