$mainSize: 62.5%;
$white: #fff;
$darkGray: #444;
$bgImg: url('../images/sprite-images.png');
$seaGreen: #1bbc9b;
$darkSeaGreen: #16a086;
$gray: #ecf0f1;
$darkBlue: #2d3e50;
$smoky: #999;
$darkSmoky: #bec3c7;