@media (min-width: 420px) {
  .footer ul li {
    margin-left: .6rem; }
    .footer ul li:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: .1rem;
      display: block;
      background-color: #fff; }
  .footer .anchor {
    float: right; } }

@media (min-width: 450px) {
  .main .portfolio .filters li {
    display: inline-block;
    margin-left: 2.1rem; } }

@media (min-width: 620px) {
  .main .contacts .contact-holder .address-list {
    font-size: 1.4rem;
    line-height: 2rem;
    width: 19.3rem; }
  .main .contacts .contact-holder h3 {
    font-size: 1.4rem;
    line-height: 1.8rem; }
  .main .contacts form {
    font-size: 1.4rem;
    line-height: 1.8rem; }
  .main .our-us .co-workers li h3 {
    font-size: 1.8rem;
    line-height: 2.2rem; }
  .main .our-us .co-workers li strong {
    font-size: 1.4rem;
    line-height: 1.8rem; } }

@media (min-width: 768px) {
  .container {
    padding-left: 4rem;
    padding-right: 4rem; }
  p {
    font-size: 1.4rem;
    line-height: 1.8rem; }
  .header .navbar {
    margin-top: 4.6rem; }
  .header .navbar-fixed-top.navbar-absolute .navbar-header {
    float: right;
    text-align: right; }
    .header .navbar-fixed-top.navbar-absolute .navbar-header .navbar-collapse {
      margin-top: 0;
      background: none; }
      .header .navbar-fixed-top.navbar-absolute .navbar-header .navbar-collapse .navbar-nav li {
        margin-right: 0; }
        .header .navbar-fixed-top.navbar-absolute .navbar-header .navbar-collapse .navbar-nav li:first-child {
          margin: 0; }
  .main .portfolio .filters li .btn {
    margin-bottom: 3.8rem; }
  .main .banner .table-box .cell-box {
    padding-top: 7.2rem; }
    .main .banner .table-box .cell-box .banner-info {
      width: 58%; }
      .main .banner .table-box .cell-box .banner-info .slogan {
        margin-bottom: 2.6rem;
        margin-top: -0.5rem;
        font-size: 5.5rem;
        line-height: 5.7rem; }
      .main .banner .table-box .cell-box .banner-info p {
        margin-bottom: 4.2rem;
        line-height: 2.6rem; }
      .main .banner .table-box .cell-box .banner-info .btn {
        margin-bottom: 3rem; }
  .main .contacts form button[type=submit].btn {
    float: right;
    margin-bottom: 1rem; } }

@media (min-width: 1200px) {
  .header .navbar {
    margin-top: 0; }
  .header .navbar-fixed-top {
    top: 2rem; }
  .main .contacts form .left, .main .contacts form .right {
    width: 48%; } }
