//- includes/header.jade
header.header
			div.container
				div.row
					div.col-xs-12.col-sm-12.col-md-4.col-lg-4
						h1.logo: a(href="#")
					div.col-xs-12.col-sm-12.col.md-8.col-lg-8
						div.navbar.navbar-fixed-top.navbar-absolute
							div.navbar-header
								button.navbar-toggle#toggle-menu(type="button" data-toggle="collapse" data-target=".navbar-collapse") 
									span.sr-only Toggle navigation
									span.icon-bar
									span.icon-bar
									span.icon-bar
								div.collapse.navbar-collapse#bs-example-navbar-collapse-1
									ul.nav.navbar-nav
										li: span#home(name="home").active Home
										li: a(href="#") Portfolio
										li: a(href="#") About
										li: a(href="#") Contact