DOCTYPE
html(lang="en")
	head
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(charset="utf-8")
		title Bak-one
		link(rel="stylesheet" href="../css/reset.css")
		link(rel="stylesheet" href="../css/bootstrap.min.css")
		link(rel="stylesheet" href="../css/font-face.css")
		link(rel="stylesheet" href="../font-awesome/css/font-awesome.min.css")
		link(rel="stylesheet" href="../css/variables.css")
		link(rel="stylesheet" href="../css/common.css")
		link(rel="stylesheet" href="../css/media.css")
	body
		//START HEADER
		header.header
			div.container
				div.row
					div.col-xs-12.col-sm-12.col-md-4.col-lg-4
						h1.logo: a(href="#")
					div.col-xs-12.col-sm-12.col.md-8.col-lg-8
						div.navbar.navbar-fixed-top.navbar-absolute
							div.navbar-header
								button.navbar-toggle#toggle-menu(type="button" data-toggle="collapse" data-target=".navbar-collapse") 
									span.sr-only Toggle navigation
									span.icon-bar
									span.icon-bar
									span.icon-bar
								div.collapse.navbar-collapse#bs-example-navbar-collapse-1
									ul.nav.navbar-nav
										li: span#home(name="home") Home
										li: a(href="#") Portfolio
										li: a(href="#") About
										li: a(href="#") Contact
		//END HEADER
		//START MAIN
		main.main
			div.banner
				div.wrapper
					img(src="../images/banner.png" alt="").imgScale
				div.table-box
					div.cell-box
						div.banner-info
							p.slogan We Build #[strong Brand]
							p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
							a(href="#").btn Learn more
							div.anchor
								a(href="#more-info")
									i.fa.fa-chevron-circle-down(aria-hidden="true")
			section.portfolio#more-info(name="more-info")
				div.container
					h2 Portfolio
					p Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
					ul.filters.col-md-12
						li.active: span.btn all
						li: a(href="#").btn web design
						li: a(href="#").btn graphic design
						li: a(href="#").btn flat design
					ul.icons.clear-both
						li.photo
							div.cover
								a(href="#")
									i.fa.fa-search(aria-hidden="true")
									h3 Example Title
									p Web Design
						li.sound
							div.cover
								a(href="#")
									i.fa.fa-search(aria-hidden="true")
									h3 Example Title
									p Web Design
						li.cogwheel
							div.cover
								a(href="#")
									i.fa.fa-search(aria-hidden="true")
									h3 Example Title
									p Web Design
						li.safari
							div.cover
								a(href="#")
									i.fa.fa-search(aria-hidden="true")
									h3 Example Title
									p Web Design
						li.call
							div.cover
								a(href="#")
									i.fa.fa-search(aria-hidden="true")
									h3 Example Title
									p Web Design
						li.bubbles
							div.cover
								a(href="#")
									i.fa.fa-search(aria-hidden="true")
									h3 Example Title
									p Web Design
						li.photo
							div.cover
								a(href="#")
									i.fa.fa-search(aria-hidden="true")
									h3 Example Title
									p Web Design
						li.sound
							div.cover
								a(href="#")
									i.fa.fa-search(aria-hidden="true")
									h3 Example Title
									p Web Design
			section.our-us
				div.container
					div.row
						div.heading
							h2 About Us
							p Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
						ul.co-workers
							li
								div.avatar
									img(src="../images/ava-1.png" alt="")
									div.social
										a(href="#")
											i.fa.fa-facebook(aria-hidden="true")
										a(href="#")
											i.fa.fa-twitter(aria-hidden="true")
										a(href="#")
											i.fa.fa-google-plus(aria-hidden="true")
										a(href="#")
											i.fa.fa-dribbble(aria-hidden="true")
								h3 Melannie Doe
								strong Project Manager
								p Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
							li
								div.avatar
									img(src="../images/ava-2.png" alt="")
									div.social
										a(href="#")
											i.fa.fa-facebook(aria-hidden="true")
										a(href="#")
											i.fa.fa-twitter(aria-hidden="true")
										a(href="#")
											i.fa.fa-google-plus(aria-hidden="true")
										a(href="#")
											i.fa.fa-dribbble(aria-hidden="true")
								h3 Jhonnie Doe
								strong Graphic Designer
								p Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
							li
								div.avatar
									img(src="../images/ava-3.png" alt="")
									div.social
										a(href="#")
											i.fa.fa-facebook(aria-hidden="true")
										a(href="#")
											i.fa.fa-twitter(aria-hidden="true")
										a(href="#")
											i.fa.fa-google-plus(aria-hidden="true")
										a(href="#")
											i.fa.fa-dribbble(aria-hidden="true")
								h3 Daniel Doe
								strong Web Designer
								p Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
			section.contacts
				div.container
					div.heading
						h2 Contact Us
						p Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
					form.col-xs-12.col-sm-6.col-md-6.col-lg-6
						div.holder.left
							input(type="text", placeholder="Your name")
						div.holder.right
							input(type="email", placeholder="Your email")
						div.holder.clear-both
							textarea(cols="30" rows="10", placeholder="Your message")
						button(type="submit").btn Submit
					div.contact-holder.col-xs-12.col-sm-6.col-md-6.col-lg-6
						h3 Information
						ul.address-list
							li.location
								i.fa.fa-map-marker(aria-hidden="true")
								| Bak-One Company #[br]12345 Hollywood Bvld Street Los Angeles, California
							li.phone
								i.fa.fa-phone-square(aria-hidden="true")
								| +444 (Phone) 123456
							li.fax
								i.fa.fa-print(aria-hidden="true")
								| +123 (FAX) 0011223
							li.email
								i.fa.fa-envelope-o(aria-hidden="true")
								| info@bak-onecompany.com
		//END MAIN
		//START FOOTER
		footer.footer
			div.container
				ul
					li © Copyright 2013 Bak-One
					li One Page Flat Template
				a.anchor(href="#home")
					i.fa.fa-chevron-up(aria-hidden="true")
		//END FOOTER
		script(src="../bower_components/jquery/dist/jquery.min.js")
		script(src="../bower_components/bootstrap/dist/js/bootstrap.min.js")
		script(src="../js/jquery.matchHeight.js")
		script(src="../js/image-scale.min.js")
		script(src="../js/main.js")
