//- includes/footer.jade
footer.footer
			div.container
				ul
					li © Copyright 2013 Bak-One
					li One Page Flat Template
				a.anchor(href="#up-page")
					i.fa.fa-chevron-up(aria-hidden="true")